.body {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 2%;
}

.Practice {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-row-gap: 20px;
}

.main {
    text-align: center;
}

.main h1 {
    color: blueviolet;
    text-align: left;
    font-size: 35px;
}

.main h3 {
    color: black;
    font-weight: 700;
}

.Profile {
    text-align: center;
    padding: 50px;
}


.btn-complete {
    width: 75%;
    background-color: brown;
    margin-top: 50px;
    padding: 5%;
    text-align: center;
    color: aliceblue;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: 700;
}


@media only screen and (min-device-width: 1px) and (max-device-width: 667px) {
    .body {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .Practice {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .body {
        display: grid;
        grid-template-columns: 55% 45%;
        gap: 30px;
        background-color: antiquewhite;
    }

    .Practice {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .Profile {
        background-color: aqua;
        width: 80%;
    }


}

@media only screen and (min-width: 960px) and (max-width: 1312px) {
    .Practice {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}