.exercise {
    background-color: antiquewhite;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 10px;
    height: 30rem;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
}

.exercise img {
    width: 95%;
    height: 35%;
}

.exercise button {
    width: 100%;
    background-color: darkblue;
    color: aliceblue;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    left: 0%;
}

@media only screen and (min-device-width: 275px) and (max-device-width: 667px) {
    .exercise {
        height: 50rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .exercise {
        height: 50rem;
    }

}

@media only screen and (min-width: 960px) and (max-width: 1312px) {
    .exercise {
        height: 35rem;
    }

}