.details {
    margin-top: 30px;
    position: relative;
    height: 3900px;
}

.details p {
    background-color: white;
    margin: 20px;
    padding: 30px;
    font-size: 25px;
    font-weight: 600;
}

.details div {
    position: sticky;
    top: 20px;

}