.details {
    margin-top: 30px;
    position: relative;

}

.details p {
    background-color: white;
    margin: 20px;
    padding: 30px;
    font-size: 25px;
    font-weight: 600;
}

.details div {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}